body{ 
    margin: 0;
}
header{
    height: 70px ;
    width: auto;
    background-color:#27a1cb ;
    color:aliceblue;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

 }
 div{
    height:100px;
    width: auto;
    background-color: rgb(242, 194, 131);
    margin: 40px;
    margin-top: 10px;
    padding-top: 2px ;
    padding-left:5px ;
    border-radius: 10px;
    padding-bottom: 2px;
 }
 #qus{
    height:200px;
    width: auto;
    background-color: rgb(242, 194, 131);
    margin: 40px;
    margin-top: 10px;
    padding-top: 2px;
    padding-left:5px ;
    border-radius: 10px;
 }
